
   <ion-content scroll="true">
<div class="list">
<br>
<P ALIGN=center> <img src="img/MexicoLogo.jpg" width="200" height="100" /> </P> <br> <br> 

  <label class="item item-input">
    <span class="input-label">Username</span>
      <input type="text" ng-model="datosPersona.username" ng-minlength="3" maxlength="30">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
      <input type="password" ng-model="datosPersona.password" ng-minlength="3" maxlength="15">
  </label>
 <label class="item item-input">
    <span class="input-label">Perfil</span>
     <textarea ng-model="datosPersona.Interes" maxlength="150">  </textarea>

  </label>



  <div class="padding">
<br> <br> <br> <br> 
    <button ng-click="registra()" class="button button-block button-positive">Registrarse</button>
  </div>
</div>
</ion-content>

